@charset "utf-8";
/* CSS Document */
body{ font-family: arial; }
input, select, button, input:focus, select:focus, button:focus { outline: none !important; }
.form-control:focus { border-color: rgb(204, 204, 204); outline: 0; -webkit-box-shadow: none; box-shadow: none; }


/* desk options classes */
.desk-options div { display: block; text-indent: -9999px; vertical-align: middle; margin: 20px auto; width:75px; height: 75px; }

/* icon classes */
.desk-h-t, .desk-h-b { width: 75px; height: 52px; }
.desk-h-t { background: url("../images/desk-h-t.png") no-repeat; }
.desk-h-b { background: url("../images/desk-h-b.png") no-repeat; }
.desk-v-l, .desk-v-r { width: 52px; height:75px; }
.desk-v-l { background: url("../images/desk-v-l.png") no-repeat; }
.desk-v-r { background: url("../images/desk-v-r.png") no-repeat; }

#floorZone { border: 1px solid #ccc; min-height: 600px; }
#floorZone .closeIt { color: #f00; cursor: pointer; position: absolute; font-size: 16px; background:  #fff; border: 1px solid #f00; border-radius:  50%; right: -5px; top: 0; padding:  2px; line-height: .7; font-weight: bold; }
.dragMe { cursor: move; }