@charset "utf-8";
/* CSS Document */
body{ font-family: arial; }
input, select, button, input:focus, select:focus, button:focus { outline: none !important; }
.form-control:focus { border-color: rgb(204, 204, 204); outline: 0; -webkit-box-shadow: none; box-shadow: none; }


/* desk options classes */
.desk-options div { display: block; text-indent: -9999px; vertical-align: middle; margin: 20px auto; width:75px; height: 75px; }

/* icon classes */
.desk-h-t, .desk-h-b { width: 75px; height: 52px; }
.desk-h-t { background: url("../images/desk-h-t.png") no-repeat; }
.desk-h-b { background: url("../images/desk-h-b.png") no-repeat; }
.desk-v-l, .desk-v-r { width: 52px; height:75px; }
.desk-v-l { background: url("../images/desk-v-l.png") no-repeat; }
.desk-v-r { background: url("../images/desk-v-r.png") no-repeat; }

#floorZone {border: 1px solid #ccc; min-height: 800px; }
#floorZone .closeIt {color: #f00; cursor: pointer; position: absolute; font-size: 16px; background:  #fff; border: 1px solid #f00; border-radius:  50%; right: -5px; top: 0; padding:  2px; line-height: .7; font-weight: bold; }



/* common classes */
.rf { float: right; }
.lf { float: left; }
.floatNone { float: none; }
.alpha { padding-left: 0; }
.omega { padding-right: 0; }
.m-auto { margin: 0 auto; }
.text-black { color: #000; }
.text-white { color: #fff; }
.text-shadow { text-shadow: 0 0 10px rgba(0,0,0,0.5) }
.btn-grey { background: #ccc; color: #333; }
.btn-grey:hover { color: #fff; }
.btn-warning-outline, .btn-warning-outline:hover { border: 1px solid #fff; }
.btn-pink { background: #f7966b; border: 2px solid #fff; }
.btn-pink:hover { background: #f9b495; color: #fff; }
input[type=checkbox].chk-box-lg, input[type=checkbox].chk-box-md { width: 34px; height: 34px; margin:0; }
input[type=checkbox].chk-box-md { width: 24px; height: 24px; }
.scale-50 { width: 50%; }

.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 { margin-top: 80px; }
.mt-90 { margin-top: 90px; }
.mt-100 { margin-top: 100px; }
.mt-120 { margin-top: 120px; }
.mt-180 { margin-top: 180px; }
.mt-280 { margin-top: 280px; }
.mt-350 { margin-top: 350px; }
.mt-450 { margin-top: 450px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
.ml-50 { margin-left: 50px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; }
.mr-50 { margin-right: 50px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }
.mb-70 { margin-bottom: 70px; }
.mb-80 { margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }
.mb-120 { margin-bottom: 120px; }
.mb-180 { margin-bottom: 180px; }
.mb-280 { margin-bottom: 280px; }
.mb-350 { margin-bottom: 350px; }
.mb-450 { margin-bottom: 450px; }


.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-60 { padding-top: 60px; }
.pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; }

.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }

.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-30 { padding-right: 30px; }
.pr-40 { padding-right: 40px; }
.pr-50 { padding-right: 50px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }







@media (max-width: 1024px){

}
@media (max-width: 786px){

}

